.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}
.thumbnail {
  height: 100%;
}

.thumbPics {
  width: 280px;
  height: 280px;
  padding-bottom: -20px;
}
.defaultPic {
  width: 280px;
  height: 280px;
}
.caption {
  margin-top: -20px;
}
.rating {
  color: red;
}
