<div class="row" >
  <div class="col-lg-3 col-md-4" *ngFor="let beer of beers">
    <div class="thumbnail">
      <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ62bvjRufjkHCKSQxOa_Sso0qx3iPn-9nlUSKxDTzIuo8zLfL" alt="...">
      <hr>
      <div class="caption">
        <b>{{beer.name}}</b>
        <p>Preis: {{beer.price}}€</p>
        <p>Größe: {{beer.litre}}L</p>
        <p>{{beer.description}}</p>
        <p>Bewertung: {{beer.rating}}</p>
      </div>
    </div>
  </div>
</div>



