
<div class="container-fluid">
<div class="row display-flex">
  <div class="col-lg-3 col-md-4" *ngFor="let beer of beers" >
    <div class="thumbnail">
      <div *ngIf="beer.imagePath != null">
        <img class="thumbPics" src="{{beer.imagePath}}" alt="...">
      </div>
        <div *ngIf="beer.imagePath == null">
        <img class="defaultPic" src="assets/nologo.jpg" alt="...">
      </div>
      <hr>
      <div class="caption">
        <b>{{beer.name}}</b>
        <p>Preis: {{beer.price}}€</p>
        <p>Größe: {{beer.litre}}L</p>
        <p>{{beer.description}}</p>
        <ngb-rating class="rating" [(rate)]="beer.rating"></ngb-rating>
      </div>
    </div>
  </div>
</div>
</div>



